[v-cloak] {
    display: none;
}

[v-cloak]>* {
    display: none
}

[v-cloak]::before {
    content: ""
}

.bd-search::after {
    position: absolute;
    top: .4rem;
    right: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.6rem;
    padding-right: .25rem;
    padding-left: .25rem;
    font-size: .75rem;
    content: "Ctrl + F";
    border: 1px solid #dee2e6;
    border-radius: .125rem;
}